.document-icon:before {
    content: "";
    background: url("../icons/document.png") center / contain no-repeat;
}

.more-icon:before {
    content: "";
    background: url("../icons/more.png") center / contain no-repeat;
    display: grid;
    width: 100%;
    height: 100%;
}

.less-icon:before {
    content: "";
    background: url("../icons/less.png") center / contain no-repeat;
    display: grid;
    width: 100%;
    height: 100%;
}

.email-icon:before {
    content: "";
    background: url("../icons/email.png") center / contain no-repeat;
}
.user-icon:before {
    content: "";
    background: url("../icons/user.png") center / contain no-repeat;
}
.cpf-icon:before {
    content: "";
    background: url("../icons/cpf.png") center / contain no-repeat;
}
.calendar-icon:before {
    content: "";
    background: url("../icons/calendar.png") center / contain no-repeat;
}