.main {
    padding-bottom: 24px;
    background-image: url('../images//content-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    min-height: calc(100vh - 24px - 89px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary {
    background: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    padding: 15px 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    color: #000;
    cursor: pointer;
}

.button-secondary {
    background: black;
    border-radius: 30px;
    border: 1px solid black;
    outline: none;
    padding: 15px 80px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
}

.button__container {
    display: flex;
    justify-content: space-between;
}

.file-button {
    background: black;
    border-radius: 32px;
    border: 1px solid white;
    outline: none;
    padding: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 15px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.file-button-text {
    font-size: 12px;
    padding-left: 17px;
}

input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}