.panel {
    max-width: 1000px;
    width: 100%;
    max-height: 100%;
}

.panel__container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 100%;
    position: relative;
    margin: 12px 2px;
}

.panel__title {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 39px;
    align-items: center;
    color: #ECEFF1;
    margin-top: 56px;
    background-color: #252723;
    padding: 12px 24px;
}

.panel__body {
    padding: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 29px;
    color: #fff;
    word-wrap: break-word;
}

.panel__button {
    display: flex;
    justify-content: flex-end;
}

.panel-primary {
    background: rgba(37,34,31,0.8);
    color: #fff;
}